# HW6

#### EDA

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv('jamb_exam_results.csv')
df.head()

,JAMB_Score,Study_Hours_Per_Week,Attendance_Rate,Teacher_Quality,Distance_To_School,School_Type,School_Location,Extra_Tutorials,Access_To_Learning_Materials,Parent_Involvement,IT_Knowledge,Student_ID,Age,Gender,Socioeconomic_Status,Parent_Education_Level,Assignments_Completed
0,192,22,78,4,12.4,Public,Urban,Yes,Yes,High,Medium,1,17,Male,Low,Tertiary,2
1,207,14,88,4,2.7,Public,Rural,No,Yes,High,High,2,15,Male,High,NaN,1
2,182,29,87,2,9.6,Public,Rural,Yes,Yes,High,Medium,3,20,Female,High,Tertiary,2
3,210,29,99,2,2.6,Public,Urban,No,Yes,Medium,High,4,22,Female,Medium,Tertiary,1
4,199,12,98,3,8.8,Public,Urban,No,Yes,Medium,Medium,5,22,Female,Medium,Tertiary,1

In [26]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [27]:
df.head()

,jamb_score,study_hours_per_week,attendance_rate,teacher_quality,distance_to_school,school_type,school_location,extra_tutorials,access_to_learning_materials,parent_involvement,it_knowledge,student_id,age,gender,socioeconomic_status,parent_education_level,assignments_completed
0,192,22,78,4,12.4,Public,Urban,Yes,Yes,High,Medium,1,17,Male,Low,Tertiary,2
1,207,14,88,4,2.7,Public,Rural,No,Yes,High,High,2,15,Male,High,NaN,1
2,182,29,87,2,9.6,Public,Rural,Yes,Yes,High,Medium,3,20,Female,High,Tertiary,2
3,210,29,99,2,2.6,Public,Urban,No,Yes,Medium,High,4,22,Female,Medium,Tertiary,1
4,199,12,98,3,8.8,Public,Urban,No,Yes,Medium,Medium,5,22,Female,Medium,Tertiary,1

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   jamb_score                    5000 non-null   int64
 1   study_hours_per_week          5000 non-null   int64
 2   attendance_rate               5000 non-null   int64
 3   teacher_quality               5000 non-null   int64
 4   distance_to_school            5000 non-null   float64
 5   school_type                   5000 non-null   object
 6   school_location               5000 non-null   object
 7   extra_tutorials               5000 non-null   object
 8   access_to_learning_materials  5000 non-null   object
 9   parent_involvement            5000 non-null   object
 10  it_knowledge                  5000 non-null   object
 11  student_id                    5000 non-null   int64
 12  age                           5000 non-null   int64
 13  gender                        5000 non-null   object
 14  socioeconomic_status          5000 non-null   object
 15  parent_education_level        4109 non-null   object
 16  assignments_completed         5000 non-null   int64
dtypes: float64(1), int64(7), object(9)
memory usage: 664.2+ KB

In [29]:
#removing student_id
del df['student_id']

In [30]:
#filling missing values with zeros.
df = df.fillna(0)

In [31]:
df.isnull().sum()

jamb_score                      0
study_hours_per_week            0
attendance_rate                 0
teacher_quality                 0
distance_to_school              0
school_type                     0
school_location                 0
extra_tutorials                 0
access_to_learning_materials    0
parent_involvement              0
it_knowledge                    0
age                             0
gender                          0
socioeconomic_status            0
parent_education_level          0
assignments_completed           0
dtype: int64

In [32]:
df['jamb_score']

0       192
1       207
2       182
3       210
4       199
       ...
4995    183
4996    179
4997    261
4998    183
4999    218
Name: jamb_score, Length: 5000, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [35]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [36]:
y_train = df_train.jamb_score
y_val = df_val.jamb_score
y_test = df_test.jamb_score

In [37]:
del df_train['jamb_score']
del df_val['jamb_score']
del df_test['jamb_score']

In [38]:
df_train.head()

,study_hours_per_week,attendance_rate,teacher_quality,distance_to_school,school_type,school_location,extra_tutorials,access_to_learning_materials,parent_involvement,it_knowledge,age,gender,socioeconomic_status,parent_education_level,assignments_completed
0,20,72,3,4.4,Public,Urban,No,Yes,Medium,Low,21,Female,Low,0,3
1,11,80,2,3.3,Public,Urban,Yes,Yes,Medium,High,22,Female,Medium,Secondary,1
2,31,82,1,8.3,Public,Urban,Yes,Yes,Low,High,19,Female,High,Tertiary,2
3,29,79,1,15.8,Public,Rural,Yes,Yes,Low,Low,19,Male,Low,Primary,2
4,28,96,2,8.9,Private,Rural,Yes,Yes,Medium,Low,19,Male,High,Secondary,3

In [39]:
from sklearn.feature_extraction import DictVectorizer

In [40]:
train_dicts = df_train.to_dict(orient='records')

In [41]:
dv = DictVectorizer(sparse=False)
X_train = dv.fit_transform(train_dicts)

#### Q1

In [46]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_text

In [43]:
dt = DecisionTreeRegressor(max_depth=1)

In [45]:
dt.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=1)

In [47]:
print(export_text(dt, feature_names=dv.get_feature_names_out()))

|--- study_hours_per_week <= 18.50
|   |--- value: [155.24]
|--- study_hours_per_week >  18.50
|   |--- value: [188.59]