# HW3

In [201]:
import pandas as pd
import numpy as np
import warnings


warnings.filterwarnings("ignore")

In [202]:
df = pd.read_csv('bank-full.csv', sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [203]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [204]:
cols = ['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y']

df_new = df[cols]
df_new.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no

In [205]:
df_new.isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

### Q1

In [206]:
df_new['education'].mode()

0    secondary
Name: education, dtype: object

### Q2

In [207]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   contact    45211 non-null  object
 7   day        45211 non-null  int64
 8   month      45211 non-null  object
 9   duration   45211 non-null  int64
 10  campaign   45211 non-null  int64
 11  pdays      45211 non-null  int64
 12  previous   45211 non-null  int64
 13  poutcome   45211 non-null  object
 14  y          45211 non-null  object
dtypes: int64(7), object(8)
memory usage: 5.2+ MB

In [208]:
df_new.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact',
       'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'y'],
      dtype='object')

In [209]:
categorical = ['job', 'marital', 'education', 'housing', 'contact', 'month', 'campaign', 'poutcome']

In [210]:
numerical = ['age', 'balance', 'duration', 'day', 'campaign', 'pdays', 'previous']

In [211]:
df_new['y'] = df_new['y'].replace({'yes':1, 'no':0})

In [212]:
df_new[df_new['y'] == 1]

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
83,59,admin.,married,secondary,2343,yes,unknown,5,may,1042,1,-1,0,unknown,1
86,56,admin.,married,secondary,45,no,unknown,5,may,1467,1,-1,0,unknown,1
87,41,technician,married,secondary,1270,yes,unknown,5,may,1389,1,-1,0,unknown,1
129,55,services,married,secondary,2476,yes,unknown,5,may,579,1,-1,0,unknown,1
168,54,admin.,married,tertiary,184,no,unknown,5,may,673,2,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45204,73,retired,married,secondary,2850,no,cellular,17,nov,300,1,40,8,failure,1
45205,25,technician,single,secondary,505,no,cellular,17,nov,386,2,-1,0,unknown,1
45206,51,technician,married,tertiary,825,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,1729,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,5715,no,cellular,17,nov,1127,5,184,3,success,1

In [213]:
df.y.nunique()

2

In [214]:
df_new[numerical].corrwith(df_new.y).abs()

age         0.025155
balance     0.052838
duration    0.394521
day         0.028348
campaign    0.073172
pdays       0.103621
previous    0.093236
dtype: float64

### Q3

In [215]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mutual_info_score

In [216]:
df_full_train, df_test = train_test_split(df_new, test_size=0.2, random_state=42)

In [217]:
len(df_full_train), len(df_test)

(36168, 9043)

In [218]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [219]:
len(df_train), len(df_val), len(df_test)

(27126, 9042, 9043)

In [220]:
df_train.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
20326,32,technician,single,tertiary,1100,yes,cellular,11,aug,67,1,-1,0,unknown,0
24301,38,entrepreneur,married,secondary,0,yes,cellular,17,nov,258,1,-1,0,unknown,0
38618,49,blue-collar,married,secondary,3309,yes,cellular,15,may,349,2,-1,0,unknown,0
18909,37,housemaid,married,primary,2410,no,cellular,4,aug,315,1,-1,0,unknown,0
23081,31,self-employed,married,tertiary,3220,no,cellular,26,aug,74,4,-1,0,unknown,0

In [221]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [222]:
y_train = df_train.y.values
y_val = df_val.y.values
y_test = df_test.y.values

In [223]:
del df_train['y']
del df_val['y']
del df_test['y']

In [224]:
def mutual_info_churn_score(series):
    return mutual_info_score(series, df_full_train.y)

In [225]:
mi = df_full_train[categorical].apply(mutual_info_churn_score)
round(mi.sort_values(ascending=False),2)

poutcome     0.03
month        0.02
contact      0.01
housing      0.01
job          0.01
campaign     0.00
education    0.00
marital      0.00
dtype: float64

### Q4

In [226]:
from sklearn.feature_extraction import DictVectorizer

In [227]:
train_dicts = df_train[categorical+numerical].to_dict(orient='records')

In [228]:
dv = DictVectorizer(sparse=False)

In [229]:
X_train = dv.fit_transform(train_dicts) #fit then transform it

In [230]:
val_dicts = df_val[categorical+numerical].to_dict(orient='records')

In [231]:
X_val = dv.transform(val_dicts)

In [232]:
from sklearn.linear_model import LogisticRegression

In [233]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [235]:
y_pred = model.predict_proba(X_val)[:, 1]

In [236]:
deposit = (y_pred >= 0.5)

In [238]:
(y_val == deposit).mean()

0.9015704490157045

In [239]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = deposit.astype(int)
df_pred['actual'] = y_val

In [240]:
df_pred['correct'] = df_pred.prediction == df_pred.actual

In [242]:
round(df_pred.correct.mean(),2)

0.9

### Q5

In [243]:
dict(zip(dv.get_feature_names_out(), model.coef_[0].round(3)))

{'age': -0.002,
 'balance': 0.0,
 'campaign': -0.088,
 'contact=cellular': 0.255,
 'contact=telephone': 0.071,
 'contact=unknown': -1.231,
 'day': 0.006,
 'duration': 0.004,
 'education=primary': -0.419,
 'education=secondary': -0.245,
 'education=tertiary': -0.054,
 'education=unknown': -0.187,
 'housing=no': -0.086,
 'housing=yes': -0.819,
 'job=admin.': 0.073,
 'job=blue-collar': -0.246,
 'job=entrepreneur': -0.24,
 'job=housemaid': -0.281,
 'job=management': -0.081,
 'job=retired': 0.333,
 'job=self-employed': -0.272,
 'job=services': -0.154,
 'job=student': 0.245,
 'job=technician': -0.163,
 'job=unemployed': 0.017,
 'job=unknown': -0.135,
 'marital=divorced': -0.297,
 'marital=married': -0.453,
 'marital=single': -0.155,
 'month=apr': 0.073,
 'month=aug': -0.669,
 'month=dec': 0.32,
 'month=feb': -0.313,
 'month=jan': -0.95,
 'month=jul': -0.95,
 'month=jun': 0.263,
 'month=mar': 1.249,
 'month=may': -0.48,
 'month=nov': -0.901,
 'month=oct': 0.737,
 'month=sep': 0.714,
 'pdays': -0.001,
 'poutcome=failure': -0.762,
 'poutcome=other': -0.541,
 'poutcome=success': 1.492,
 'poutcome=unknown': -1.094,
 'previous': 0.006}

In [244]:
small = ['age', 'balance', 'marital', 'previous']

In [245]:
df_train[small].iloc[:10].to_dict(orient='records')

[{'age': 32, 'balance': 1100, 'marital': 'single', 'previous': 0},
 {'age': 38, 'balance': 0, 'marital': 'married', 'previous': 0},
 {'age': 49, 'balance': 3309, 'marital': 'married', 'previous': 0},
 {'age': 37, 'balance': 2410, 'marital': 'married', 'previous': 0},
 {'age': 31, 'balance': 3220, 'marital': 'married', 'previous': 0},
 {'age': 32, 'balance': 11287, 'marital': 'single', 'previous': 0},
 {'age': 35, 'balance': 0, 'marital': 'married', 'previous': 3},
 {'age': 39, 'balance': -17, 'marital': 'married', 'previous': 0},
 {'age': 60, 'balance': 2934, 'marital': 'single', 'previous': 0},
 {'age': 48, 'balance': 3, 'marital': 'married', 'previous': 0}]

In [246]:
dicts_train_small = df_train[small].to_dict(orient='records')
dicts_val_small = df_val[small].to_dict(orient='records')

In [247]:
dv_small = DictVectorizer(sparse=False)
dv_small.fit(dicts_train_small)

DictVectorizer(sparse=False)

In [248]:
dv_small.get_feature_names_out()

array(['age', 'balance', 'marital=divorced', 'marital=married',
       'marital=single', 'previous'], dtype=object)

In [249]:
X_train_small = dv_small.transform(dicts_train_small)

In [250]:
model_small = LogisticRegression()
model_small.fit(X_train_small, y_train)

LogisticRegression()

In [251]:
w0 = model_small.intercept_[0]
w0

-0.02838320507151297

In [252]:
w = model_small.coef_[0]
w.round(3)

array([-0.051,  0.   ,  0.003, -0.019, -0.012,  0.106])

In [253]:
dict(zip(dv_small.get_feature_names_out(), w.round(3)))

{'age': -0.051,
 'balance': 0.0,
 'marital=divorced': 0.003,
 'marital=married': -0.019,
 'marital=single': -0.012,
 'previous': 0.106}

### Q6

In [256]:
for c in [0.01, 0.1, 1, 10, 100]:
    model = LogisticRegression(solver='liblinear', C=c, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict_proba(X_val)[:, 1]
    deposit = (y_pred >= 0.5)
    df_pred = pd.DataFrame()
    df_pred['probability'] = y_pred
    df_pred['prediction'] = deposit.astype(int)
    df_pred['actual'] = y_val
    df_pred['correct'] = df_pred.prediction == df_pred.actual
    print(c, df_pred.correct.mean())

0.01 0.8979208139792081
0.1 0.9009068790090687
1 0.9015704490157045
10 0.9009068790090687
100 0.9012386640123866